#carouselExample {
  .carousel-item {
    height: 100vh;
    background-size: cover;
  }
  .carousel-inner {
    .carousel-item {
      &.image1 {
        background-image: url("../image/sl1-967x725.jpg") !important;
      }
      &.image2 {
        background-image: url("../image/sl4.jpg") !important;
      }
      &.image3 {
        background-image: url("../image/sl7.jpg") !important;
      }
      .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        color: $color-header;
        line-height: 2;
        p {
          font-size: 2rem;
        }
      }
    }
  }
}

.local-page {
  margin-bottom: 80px;
}
.local-florist {
  margin-bottom: 70px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .local-florist-left {
    width: 50%;
    color: $color-header;
    img {
      width: 50%;
    }
    h1,
    p {
      font-family: Quicksand;
      margin-top: 5px;
      margin-bottom: 20px;
      size: 46px;
      width: 300px;
    }
    em {
      font-family: Crimson Text;
    }
  }
  .local-florist-right {
    position: relative;

    .right-image2 {
      position: absolute;
      top: 50px;

      right: 150px;
    }
  }
  @media screen and (max-width: 767px) {
    flex-direction: column;
    text-align: center;
  }
}
.services {
  // height: 100vh;

  background-image: url("../image/background2.jpg");
  .services-page-top {
    text-align: center;
    font-size: 2rem;
    color: $color-header;
    line-height: 2;
    font-family: Quicksand;
  }
}
.services-page-bottom {
  height: 100vh;
  .text {
    color: $color-header;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
  }
  .card {
    padding-bottom: 40px;
  }
}
.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
  left: 0;
}
.owl-nav button.owl-next {
  right: 0;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: #000;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}
.owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.38) !important;
}
span {
  font-size: 70px;
  position: relative;
  top: -5px;
}
.owl-nav button:focus {
  outline: none;
}

.mission {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
  }
  .mission-left {
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    background-color: $color-header;
    color: $color-white;
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 50%;
    .mission-left-text {
      padding-left: 60px;
    }
  }
  .mission-right {
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    width: 50%;
    img {
      width: 100%;
    }
  }
}

.icons-section {
  padding: 60px 0;

  .icons-page {
    @media screen and (max-width: 767px) {
      display: block;
      width: 100%;
    }
    @include flexbox();
    .card-icon {
      width: 20%;
      color: $color-header;
      @media screen and (max-width: 767px) {
        width: 100%;
        margin-bottom: 40px;
      }
      .image-icon {
        display: flex;
        gap: 10px;
        font-size: 2rem;
        margin-bottom: 20px;
      }
    }
  }
}

.sale-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  color: $color-white;
  margin-top: 50px;
  height: 15vh;
  background-image: url("../image/sl3-1050x700.jpg");
  .percentage {
    font-size: 2rem;
    margin-left: 10%;
  }
  .weekly-text {
    margin-left: 10%;
  }
}
.color-teal {
  background-color: $color-btn;
  height: 10px;
  margin-left: 10%;
  margin-right: 10%;
}
#portfolio {
  margin-top: 50px;
  background-image: url("../image/background1-1-1085x595.jpg");
  .portfolio {
    .portfolio-top {
      padding: 20px;
      text-align: center;
      color: $color-header;
      line-height: 1.5;
    }
    .portfolio-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      .portfolio-card {
        &.text {
          background-image: url("../image/gallery1.jpg");
          display: flex;
          align-items: center;
          justify-content: center;
        }
        display: flex;
        column-gap: 20px;
        flex-wrap: wrap;
        img {
          width: 100%;
        }
      }
    }
  }
  .shopCard {
    text-align: center;
    color: $color-header;
  }
}

.flowers-pricing {
  padding: 100px 0;
  .flowers-pricing-page {
    .flowers-pricing-top {
      margin-bottom: 50px;
      text-align: center;
      color: $color-header;
      line-height: 2;
    }
    .flowers-pricing-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;

      .pricing-card {
        color: $color-header;
        text-align: center;
        img {
          width: 100%;
        }
      }
    }
  }
}

.events-page {
  padding: 50px 0;
  .events-page-top {
    line-height: 2;
    text-align: center;
    color: $color-header;
    // margin-bottom: 20px;
  }
  .events-page-cards {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: $color-header;
    background-color: $color-card-bg;
    @media screen and (max-width: 767px) {
      display: block;
      row-gap: 10px;
      width: 100%;
    }
    .event-card {
      padding: 20px 0;
      line-height: 2;
      border: 1px solid $color-header;
      width: 30%;

      @media screen and (max-width: 767px) {
        margin-bottom: 20px;
        width: 100%;
      }
      div {
        justify-content: center;
      }
    }
  }
}

.team-page-top {
  padding: 20px 0;
  text-align: center;
  color: $color-header;
  line-height: 2;

  .icons-card {
    position: relative;
    width: 100%;
    &:hover {
      .team-icons {
        display: block;
        position: absolute;
        top: 5px;
        left: 10px;
        i {
          background-color: $color-white;
          padding: 5px;
          margin-bottom: 2px;
          border-radius: 50%;
        }
      }
    }
  }
}
img {
  width: 100%;
}
.team-icons {
  display: none;
}

.makers-flora {
  padding: 50px 30px;
  color: $color-header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .makers-flora-left {
    width: 50%;
    img {
      width: 80%;
    }
  }
  .makers-flora-right {
    width: 50%;
  }
}
#clients {
  background-color: $color-btn;
  padding-bottom: 60px;

  .clients .clients-top {
    text-align: center;
    color: $color-header;
    padding: 20px 0;
  }
  .clients-right {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
    row-gap: 50px;
    flex-wrap: wrap;

    img {
      width: 10%;
    }
  }
}

.find-page {
  margin-top: 20px;
  color: $color-header;
  .find-text {
    margin-bottom: 50px;
  }

  text-align: center;
  .find-page-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 767px) {
      display: block;
    }

    .find-card {
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      width: 30%;
      line-height: 2;
      background-color: #d8e3d5;
    }
    .two {
      background-color: #fffbf6;
    }
    .three {
      background-color: #fef1e6;
    }
  }
}

.sub-pages {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-page {
  text-align: center;
  color: $color-header;
  width: 500px;
  line-height: 2;
}
