.read-more-btn{
    margin: 20px 0;
    padding: 10px  10px;
   width: 120px;
   outline: none;
   border:none;
   color:$color-header;
   background-color: $color-btn;
  
}
.footer-btn{
    padding: 15px 0;
}
.detailsBtn{
    margin: 20px 0;
    padding: 10px  10px;
   width: 120px;
   outline: none;
   border:none;
   color:$color-header;
   background-color: $color-btn; 
   padding: 15px 0;

}
.product{
    padding: 10px;
    outline: none;
    border:none;
    color:$color-white;
    background-color: rgb(0, 153, 255);

}