/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container {
    padding: 0 5%;
  }
}

.read-more-btn {
  margin: 20px 0;
  padding: 10px 10px;
  width: 120px;
  outline: none;
  border: none;
  color: #25715d;
  background-color: #d8e3d5;
}

.footer-btn {
  padding: 15px 0;
}

.detailsBtn {
  margin: 20px 0;
  padding: 10px 10px;
  width: 120px;
  outline: none;
  border: none;
  color: #25715d;
  background-color: #d8e3d5;
  padding: 15px 0;
}

.product {
  padding: 10px;
  outline: none;
  border: none;
  color: #FFFFFF;
  background-color: rgb(0, 153, 255);
}

.email {
  padding: 10px 10px;
  border: none;
  border-bottom: 1px solid #25715d;
  width: 300px;
  outline: none;
}

.footer-input {
  background-color: transparent;
}

.search {
  margin-bottom: 20px;
}

header {
  width: 100%;
  padding: 20px;
  background-color: rgba(37, 113, 93, 0.8);
  position: absolute;
  z-index: 12;
  position: fixed;
}
header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
}
header .header .header-right nav ul {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
header .header .header-right nav ul li a {
  color: #FFFFFF;
  transition: all 0.5s;
  border-bottom: none;
}
header .header .header-right nav ul :hover {
  color: #faba84;
  border-bottom: 1px solid #faba84;
}
@media screen and (max-width: 767px) {
  header .header .header-right nav {
    display: none;
  }
}
header .header .header-right .fa-bars {
  display: none;
}
@media screen and (max-width: 767px) {
  header .header .header-right nav {
    position: absolute;
    display: none;
    width: 100%;
    top: 50px;
    left: 0;
    background-color: #25715d;
  }
  header .header .header-right nav ul {
    flex-direction: column;
    height: 25vh;
    align-items: center;
    justify-content: center;
  }
  header .header .header-right nav.show {
    display: block;
  }
  header .header .header-right .fa-bars {
    display: block;
  }
  header .header .header-right .fa-xmark {
    cursor: pointer;
  }
}

#carouselExample .carousel-item {
  height: 100vh;
  background-size: cover;
}
#carouselExample .carousel-inner .carousel-item.image1 {
  background-image: url("../image/sl1-967x725.jpg") !important;
}
#carouselExample .carousel-inner .carousel-item.image2 {
  background-image: url("../image/sl4.jpg") !important;
}
#carouselExample .carousel-inner .carousel-item.image3 {
  background-image: url("../image/sl7.jpg") !important;
}
#carouselExample .carousel-inner .carousel-item .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #25715d;
  line-height: 2;
}
#carouselExample .carousel-inner .carousel-item .contact p {
  font-size: 2rem;
}

.local-page {
  margin-bottom: 80px;
}

.local-florist {
  margin-bottom: 70px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.local-florist .local-florist-left {
  width: 50%;
  color: #25715d;
}
.local-florist .local-florist-left img {
  width: 50%;
}
.local-florist .local-florist-left h1,
.local-florist .local-florist-left p {
  font-family: Quicksand;
  margin-top: 5px;
  margin-bottom: 20px;
  size: 46px;
  width: 300px;
}
.local-florist .local-florist-left em {
  font-family: Crimson Text;
}
.local-florist .local-florist-right {
  position: relative;
}
.local-florist .local-florist-right .right-image2 {
  position: absolute;
  top: 50px;
  right: 150px;
}
@media screen and (max-width: 767px) {
  .local-florist {
    flex-direction: column;
    text-align: center;
  }
}

.services {
  background-image: url("../image/background2.jpg");
}
.services .services-page-top {
  text-align: center;
  font-size: 2rem;
  color: #25715d;
  line-height: 2;
  font-family: Quicksand;
}

.services-page-bottom {
  height: 100vh;
}
.services-page-bottom .text {
  color: #25715d;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
}
.services-page-bottom .card {
  padding-bottom: 40px;
}

.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.owl-nav button.owl-prev {
  left: 0;
}

.owl-nav button.owl-next {
  right: 0;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;
}

.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}

.owl-dots button.owl-dot.active {
  background-color: #000;
}

.owl-dots button.owl-dot:focus {
  outline: none;
}

.owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.38) !important;
}

span {
  font-size: 70px;
  position: relative;
  top: -5px;
}

.owl-nav button:focus {
  outline: none;
}

.mission {
  display: flex;
}
@media screen and (max-width: 767px) {
  .mission {
    flex-direction: column-reverse;
  }
}
.mission .mission-left {
  background-color: #25715d;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
@media screen and (max-width: 767px) {
  .mission .mission-left {
    width: 100%;
  }
}
.mission .mission-left .mission-left-text {
  padding-left: 60px;
}
.mission .mission-right {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .mission .mission-right {
    width: 100%;
  }
}
.mission .mission-right img {
  width: 100%;
}

.icons-section {
  padding: 60px 0;
}
.icons-section .icons-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .icons-section .icons-page {
    display: block;
    width: 100%;
  }
}
.icons-section .icons-page .card-icon {
  width: 20%;
  color: #25715d;
}
@media screen and (max-width: 767px) {
  .icons-section .icons-page .card-icon {
    width: 100%;
    margin-bottom: 40px;
  }
}
.icons-section .icons-page .card-icon .image-icon {
  display: flex;
  gap: 10px;
  font-size: 2rem;
  margin-bottom: 20px;
}

.sale-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  color: #FFFFFF;
  margin-top: 50px;
  height: 15vh;
  background-image: url("../image/sl3-1050x700.jpg");
}
.sale-page .percentage {
  font-size: 2rem;
  margin-left: 10%;
}
.sale-page .weekly-text {
  margin-left: 10%;
}

.color-teal {
  background-color: #d8e3d5;
  height: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

#portfolio {
  margin-top: 50px;
  background-image: url("../image/background1-1-1085x595.jpg");
}
#portfolio .portfolio .portfolio-top {
  padding: 20px;
  text-align: center;
  color: #25715d;
  line-height: 1.5;
}
#portfolio .portfolio .portfolio-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
#portfolio .portfolio .portfolio-cards .portfolio-card {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  flex-wrap: wrap;
}
#portfolio .portfolio .portfolio-cards .portfolio-card.text {
  background-image: url("../image/gallery1.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}
#portfolio .portfolio .portfolio-cards .portfolio-card img {
  width: 100%;
}
#portfolio .shopCard {
  text-align: center;
  color: #25715d;
}

.flowers-pricing {
  padding: 100px 0;
}
.flowers-pricing .flowers-pricing-page .load {
  position: relative;
  left: 45%;
}
.flowers-pricing .flowers-pricing-page .flowers-pricing-top {
  margin-bottom: 50px;
  text-align: center;
  color: #25715d;
  line-height: 2;
}
.flowers-pricing .flowers-pricing-page .flowers-pricing-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.flowers-pricing .flowers-pricing-page .flowers-pricing-cards .pricing-card {
  color: #25715d;
  text-align: center;
}
.flowers-pricing .flowers-pricing-page .flowers-pricing-cards .pricing-card img {
  width: 100%;
}

.events-page {
  padding: 50px 0;
}
.events-page .events-page-top {
  line-height: 2;
  text-align: center;
  color: #25715d;
}
.events-page .events-page-cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #25715d;
  background-color: #fef1e6;
}
@media screen and (max-width: 767px) {
  .events-page .events-page-cards {
    display: block;
    row-gap: 10px;
    width: 100%;
  }
}
.events-page .events-page-cards .event-card {
  padding: 20px 0;
  line-height: 2;
  border: 1px solid #25715d;
  width: 30%;
}
@media screen and (max-width: 767px) {
  .events-page .events-page-cards .event-card {
    margin-bottom: 20px;
    width: 100%;
  }
}
.events-page .events-page-cards .event-card div {
  justify-content: center;
}

.team-page-top {
  padding: 20px 0;
  text-align: center;
  color: #25715d;
  line-height: 2;
}
.team-page-top .icons-card {
  position: relative;
  width: 100%;
}
.team-page-top .icons-card:hover .team-icons {
  display: block;
  position: absolute;
  top: 5px;
  left: 10px;
}
.team-page-top .icons-card:hover .team-icons i {
  background-color: #FFFFFF;
  padding: 5px;
  margin-bottom: 2px;
  border-radius: 50%;
}

img {
  width: 100%;
}

.team-icons {
  display: none;
}

.makers-flora {
  padding: 50px 30px;
  color: #25715d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.makers-flora .makers-flora-left {
  width: 50%;
}
.makers-flora .makers-flora-left img {
  width: 80%;
}
.makers-flora .makers-flora-right {
  width: 50%;
}

#clients {
  background-color: #d8e3d5;
  padding-bottom: 60px;
}
#clients .clients .clients-top {
  text-align: center;
  color: #25715d;
  padding: 20px 0;
}
#clients .clients-right {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 100px;
       column-gap: 100px;
  row-gap: 50px;
  flex-wrap: wrap;
}
#clients .clients-right img {
  width: 10%;
}

.find-page {
  margin-top: 20px;
  color: #25715d;
  text-align: center;
}
.find-page .find-text {
  margin-bottom: 50px;
}
.find-page .find-page-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .find-page .find-page-bottom {
    display: block;
  }
}
.find-page .find-page-bottom .find-card {
  width: 30%;
  line-height: 2;
  background-color: #d8e3d5;
}
@media screen and (max-width: 767px) {
  .find-page .find-page-bottom .find-card {
    width: 100%;
  }
}
.find-page .find-page-bottom .two {
  background-color: #fffbf6;
}
.find-page .find-page-bottom .three {
  background-color: #fef1e6;
}

.sub-pages {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-page {
  text-align: center;
  color: #25715d;
  width: 500px;
  line-height: 2;
}

#details .details .card-body {
  color: #25715d;
  height: 100vh;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#details .details .card-body img {
  width: 50%;
}
#details .details .card-body .det-text {
  margin-left: 30px;
}

tbody {
  text-align: center;
}
tbody tr td img {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #e0ecdc;
  padding: 50px 0;
}
footer .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #25715d;
}
@media screen and (max-width: 767px) {
  footer .footer {
    flex-direction: column;
  }
}
footer .footer .footer-left img {
  margin-bottom: 20px;
  width: 10%;
  position: relative;
  left: 120px;
}
footer .footer .footer-right {
  line-height: 2;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
footer .footer .footer-right nav ul li:hover {
}/*# sourceMappingURL=main.css.map */