header {
  width: 100%;
  padding: 20px;
  background-color: rgba($color: $color-header, $alpha: 0.8);
  position: absolute;
  z-index: 12;
  position: fixed;
  .header {
    @include flexbox();
    color: $color-white;

    .header-right {
      nav {
        ul {
          display: flex;
          column-gap: 20px;
          li {
            border: none;
          }
          li a {
            color: $color-white;
            transition: all 0.5s;
          
            &:hover {
              color: $color-hoverA;
              border-bottom: 1px solid $color-hoverA;
            }
          }
        }
        @media screen and (max-width: 767px) {
          display: none;
        }
      }
      .fa-bars {
        display: none;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .header {
      .header-right {
        nav {
          position: absolute;
          display: none;
          width: 100%;
          top: 50px;
          left: 0;

          background-color: $color-header;
          ul {
            flex-direction: column;
            height: 25vh;
            align-items: center;
            justify-content: center;
          }
        }
        nav.show {
          display: block;
        }
        .fa-bars {
          display: block;
        }
        .fa-xmark {
          cursor: pointer;
        }
      }
    }
  }
}
